<!-- <div class="sandbox">
    <button class="btn-home" >Check out my CV</button>
</div> -->

<main class="container-fluid"> 
     <!-- <img class="hero-img mt-5" src="../../../assets/images/herojohn.jpg" alt=""> -->
        <div class="hero-img"> 
         <div class="hero-text"> 
        <h1>I am John Stahre</h1>
        <h4 class="mt-4">and I have some Front End Development Skills</h4>
        <a routerLink="/Aboutme"><button class="btn-home px-3 mt-4">Check out my CV</button></a>
        </div>
        </div>
        
     
</main>