<div>
    <div class="sandbox">
        <div>
                    <h1>Work experience</h1> 
                    <div class="frame"> 
                        <p>2015 – present</p>
                        <h2>Global Technical Support Engineer for Connected Services, Projects & Digitalisation Scania</h2>
                        <h5>I am supporting our distributors around the world when it comes to Connected Services. I am troubleshooting, coordinating open issues regarding Fleet Management Portal, Telecom, Apps, Tacho Services when it comes to both Software, general disturbances and Hardware. Along Technical aspects I also have a market responsibility for Baltic countries, Spain and Portugal. I am also Educating Local Technical Helpdesks in Connected Services and implementing new connected tools at Local Support for my markets. In my daily work I work close with distributors all over the globe and solving issues together with my colleagues in Hong Kong, Brazil and Netherlands. 
                        </h5>
                    </div>
                    <div class="frame"> 
                        <p>2014 – 2015</p>
                        <h3>Entrepreneur, My own</h3>
                        <h5>After all collected knowledge I just had to dare to start my own business. In an area between IT and markets. I have been programming different trading algorithms and Screeners based on Technical analysis. I still have this as a hobby because I love to analyze and transfer oppurtunities  into code.
                        </h5>   
                    </div>
                   
                    <div class="frame"> 
                        <p>2013 – 2014</p>
                        <h3>Math Teacher, Grillska Gymnasiet, Eskilstuna</h3>
                        <h5>Math and Science teacher</h5>
                    </div>

                    <div class="frame"> 
                        <p>2013 – 2013</p>
                        <h3>Consultant, Swecon, Eskilstuna</h3>
                        <h5>Investigated different kind of opportunities to start a new service operation to support the customers with used spare parts. I performed a market analysis, and business intelligence, collected and analyzed data via different kind of channels and put them into business needs and possible set ups. This work resulted in a new operation division as per my recommendations: </h5>
                    </div>

                    <div class="frame"> 
                        <p>2012 – 2013</p>
                        <h3>Consultant, Eskilstuna Kommun</h3>
                        <h5>Provided the school-managers with business intelligence, I gathered data and visualized it for the school managers that they could use for decision basis.</h5>
                    </div>

                    <div class="frame"> 
                        <p>2012 – 2013</p>
                        <h3>IT-Sales, Quinyx, stockholm, </h3>
                        <h5>Worked with the entire sales process for a workforce management system.  </h5>
                    </div>

                    <div class="frame"> 
                        <p>2011 – 2012</p>
                        <h3>Market analyst and sales, Animech, Uppsala </h3>
                        <h5>Market analysis of a telematics solution for elderly.</h5>
                    </div>

                    <div class="frame"> 
                        <p>1998 – 2011</p>
                        <h3>Restaurant business, Visby, Stockholm, Uppsala</h3>
                        <h5>I did it all</h5>
                    </div>


                   


        </div>
    
    </div>
        <div>
            <h1>Education</h1>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis corrupti neque fugit excepturi ipsum ut sed. Fugiat expedita voluptatum ab earum, magnam reiciendis hic cum quis sint molestiae ullam labore.</h5>
            <p>sasalkfjlöakfjlöaskf</p>
        </div>
        <div>
            <h1>Scania academy</h1>
            <h5></h5>
            <p></p>
            <h1>Scania academy</h1>
            <h5></h5>
            <p></p>
            <h1>Scania academy</h1>
            <h5></h5>
            <p></p>
            <h1>Scania academy</h1>
            <h5></h5>
            <p></p>
        </div>

</div>

